# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
db.sqlite3-journal
media
staticfiles/
.env

# Ambientes Virtuais
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/